---
---
@import "minima";

.footer-col {
  width: 100%;
}

.social-media-list > li {
  display: inline-block;
  padding-right: $spacing-unit / 4;
}

#copyright {
  float: right;
  font-size: min(100%, 3vw); 
}

